.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 374px;
}

.label {
    font-size: 14px;
    font-weight: 500;
    line-height: 109%;
}

.input {
    border: 1px solid #000;
    background: transparent;
    padding: 12px;

    font-size: 18px;
	font-weight: 300;
	line-height: 121%;

    width: 374px;
}
