.container {
    display: flex;
    gap: 30px;
    align-items: center;
}

.link {
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 109%;
    text-decoration-line: underline;
}
